.gradle
build/
!/ui/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# --------------- #
# Studio-specific #
# --------------- #
.studio/
flows/
target/
**/*.mflow

out

.vagrant
dashboard-logs
npm-debug.log
.vscode

### eclipse ###
*.classpath
*.project
*.settings